<div class="container">
  <div class="row">
    <div class="col-xs-12">
       <div class= "well" id="postBody">
         <h1>{{model.author}}</h1>
         <h3>{{model.content}}</h3>
         <p>Posted on: {{model.datePosted}}</p>
         <p>Category: {{model.category}}</p>

         {{update-question question=model update="update"}}

         <button {{action 'delete' question}}>Delete</button>
          {{question-detail question=model destroyQuestion="destroyQuestion"}}
       </div>
    </div>
  </div>
</div>
